<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.polls.nav_item.text'), admin_polls_path) %>
    <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_polls_path) %></li>
    <li><%= world_icon(poll_path(@entity.id)) %></li>
    <li><%= edit_icon(edit_poll_path(@entity.id)) %></li>
  </ul>

  <% unless @entity.image.blank? %>
      <figure>
        <%= poll_image_medium(@entity) %>
        <figcaption><%= t('activerecord.attributes.poll.image') %></figcaption>
      </figure>
  <% end %>

  <dl>
    <dt><%= t(:created_at) %></dt>
    <dd>
      <%= time_tag(@entity.created_at) %>
    </dd>

    <dt><%= t(:updated_at) %></dt>
    <dd>
      <%= time_tag(@entity.updated_at) %>
    </dd>

    <dt><%= t('activerecord.attributes.poll.name') %></dt>
    <dd>
      <%= @entity.name %>
    </dd>

    <% unless @entity.description.blank? %>
        <dt><%= t('activerecord.attributes.poll.description') %></dt>
        <dd>
          <%= @entity.description %>
        </dd>
    <% end %>
  </dl>

  <%= render partial: 'admin/polls/toggleable', locals: { entity: @entity } %>

  <section>
    <h2><%= t(:poll_question_count, count: @entity.poll_questions_count) %></h2>

    <%= render partial: 'shared/admin/list_with_priority', locals: { collection: @entity.poll_questions.ordered_by_priority } %>
  </section>

  <% if @entity.poll_questions.count < 10 %>
      <section>
        <h2><%= t('poll_questions.new.heading') %></h2>

        <%= render partial: 'poll_questions/form', locals: { entity: @entity.poll_questions.new } %>
      </section>
  <% end %>
</article>
