<% entity_name = entity.class.to_s.underscore %>
<%= form_with model: entity, html: { id: "#{entity_name}-form" } do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>
  <dl>
    <% unless entity.id.nil? %>
      <dt><%= t('activerecord.attributes.poll_question.poll_id') %></dt>
      <dd><%= admin_poll_link(entity.poll) %></dd>
    <% end %>

    <dt><%= f.label :priority %></dt>
    <dd>
      <%=
        f.number_field(
            :priority,
            id:       :poll_question_priority,
            in:       PollQuestion::PRIORITY_RANGE,
            required: true
        )
      %>
    </dd>

    <dt><%= f.label :text %></dt>
    <dd>
      <%=
        f.text_field(
            :text,
            id:          :poll_question_text,
            required:    true,
            size:        nil,
            maxlength:   PollQuestion::TEXT_LIMIT,
            placeholder: t('.placeholders.text')
        )
      %>
      <div class="guideline"><%= t('.guidelines.text') %></div>
    </dd>

<!--
    <dt><%= f.label :comment %></dt>
    <dd>
      <%=
        f.text_field(
            :comment,
            id:          :poll_question_comment,
            size:        nil,
            maxlength:   PollQuestion::COMMENT_LIMIT,
            placeholder: t('.placeholders.comment')
        )
      %>
      <div class="guideline"><%= t('.guidelines.comment') %></div>
    </dd>
-->

    <dt><%= t(:flags) %></dt>
    <dd class="flags">
      <ul class="flags">
        <% PollQuestion.toggleable_attributes.each do |flag| %>
          <li>
            <%= f.check_box flag, id: "#{entity_name}_#{flag}" %>
            <%= f.label flag %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>

  <div class="buttons">
    <%= f.hidden_field :poll_id if entity.id.nil? %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
