<% content_for :meta_title, t('.title', poll: @entity.poll.name, question: @entity.text) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.polls.nav_item.text'), admin_polls_path) %>
    <%= admin_poll_link(@entity.poll) %>
    <span><%= @entity.priority %>: <%= @entity.text %></span>
<% end %>

<article>
  <h1><%= @entity.text %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_poll_path(id: @entity.poll_id)) %></li>
    <li><%= edit_icon(edit_poll_question_path(id: @entity.id)) %></li>
  </ul>

  <% unless @entity.image.blank? %>
      <figure>
        <%= poll_image_medium(@entity) %>
        <figcaption><%= t('activerecord.attributes.poll_question.image') %></figcaption>
      </figure>
  <% end %>

  <dl>
    <dt><%= t(:created_at) %></dt>
    <dd>
      <%= time_tag(@entity.created_at) %>
    </dd>

    <dt><%= t(:updated_at) %></dt>
    <dd>
      <%= time_tag(@entity.updated_at) %>
    </dd>

    <dt><%= t('activerecord.attributes.poll_question.poll_id') %></dt>
    <dd>
      <%= admin_poll_link(@entity.poll) %>
    </dd>

    <dt><%= t('activerecord.attributes.poll_question.priority') %></dt>
    <dd>
      <%= @entity.priority %>
    </dd>

    <dt><%= t('activerecord.attributes.poll_question.text') %></dt>
    <dd>
      <%= @entity.text %>
    </dd>

    <% unless @entity.comment.blank? %>
        <dt><%= t('activerecord.attributes.poll_question.comment') %></dt>
        <dd>
          <%= @entity.comment %>
        </dd>
    <% end %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_poll_question_path(id: @entity.id)
        }
    )
  %>

  <section>
    <h2><%= t(:poll_answer_count, count: @entity.poll_answers_count) %></h2>

    <%=
      render(
          partial: 'shared/admin/list_with_priority',
          locals: { collection: @entity.poll_answers.ordered_by_priority }
      )
    %>
  </section>

  <% if @entity.poll_answers.count < 10 %>
      <section>
        <h2><%= t('poll_answers.new.heading') %></h2>

        <%= render partial: 'poll_answers/form', locals: { entity: @entity.poll_answers.new } %>
      </section>
  <% end %>
</article>
