<div class="image">
  <%= poll_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_poll_question_link(entity) %></div>
  <% unless entity.comment.blank? %>
      <div class="info">
        <%= entity.comment %>
      </div>
  <% end %>
  <div class="secondary info">
    <%= t(:poll_answer_count, count: entity.poll_answers_count) %>
  </div>

  <%= render partial: 'admin/poll_questions/toggleable', locals: { entity: entity } %>

  <ul class="actions">
    <li><%= edit_icon(edit_poll_question_path(entity.id)) %></li>
    <%= render partial: 'shared/actions/priority_changer', locals: { path: priority_admin_poll_question_path(entity.id) } %>
  </ul>
</div>
